body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-size :5em;
  font-family: verdana;
  text-align: center;
}
.main_div {
  background-color: white;
  color: black;
  font-family: arial;
  font-weight: bold;
  padding: 20px;
  margin: 70px;
  border-radius: 40px;
}
#form_div{
  width: 315px;
  margin: auto;
}
div {
  margin-bottom: 8px;
}
label {
  display: inline-block;
  width: 100px;
  text-align: left;
}
#current-rate{
  width:50px;
}
input[type=button]{
  font-family: arial;
  font-weight: bold;
}
.div_text_results{
  margin-bottom: 4px;
  display: block;
  height: 20px;
}
.numeric_results{
  background-color: gold;
}
p{
  display: inline-block;
}
#copyright{
  margin-top: 50px;
  margin-left: 50px;
}
